header{
    padding: 24.5px 72px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(11px);
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    @media (max-width: 1024px){
        padding: 24.5px 24px;
    }
    @media (max-width: 767px){
        padding: 16px 20px;
    }
    
    .header-main{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 218.11px;
            height: 31.82px;
            background: url("../img/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            a{
                display: block;
                width: 100%;
                height: 100%;
                text-indent:-9999px;
                
            }
        }
        nav{
            
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: white;
            }
            .header-nav-main{
                display: flex;
                li:not(:first-child){
                    margin-left: 85px
    
                }
            }
            .header-nav-sub{
                margin-left: 85px;
                display: flex;
                align-items: center;
                .header-search{
                    margin-left: 14px;
                }
                .header-search img{
                    width: 20px;
                    height: 20px;
                }
            }
            @media (max-width: 1024px){
                .header-nav-main{
                    li:not(:first-child){
                        margin-left: 32px
        
                    }
                    
                }
                .header-nav-sub{
                    margin-left: 32px;
                    
                }
            }
            @media (max-width: 767px){
                .header-nav-main{
                    display: block;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    right: 0;
                    max-height: 0;
                    margin-left: 0;
                    overflow: hidden;
                    li{
                        width: 100%;
                        padding: 10px 10px;
                        background: rgba(0, 0, 0, 0.6);;
                        margin-left: 0;
                        border-bottom: 1px white solid;

                    }
                    li:not(:first-child){
                        margin-left: 0;
                    }
                }
                .menu-show.header-nav-main{
                    max-height: max-content;
                }
                .header-nav-sub{
                    margin-left: 32px;
                    
                }
            }
        }
    
        
    }
    .showmenu{
        display: none;
        @media (max-width: 767px){
           display:inline;
           margin-left: 15px;
        }
    }
}
